@import "variable";
@import "template";

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.grid-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    border: 1px solid rgb(255, 255, 255);

	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: minmax(2em, auto);

	grid-template-areas:
	"header header header header header"
	"main main main main main"
	"main main main main main"
	"main main main main main"
	"footer footer footer footer footer";

	position: relative;
	z-index: 0;
}

header, main, footer {
	border: 1px solid red;
}

header {
	grid-area: header;
	display: grid;
	grid-template-columns: 90% 10% ;
	grid-auto-rows: minmax(2em, auto);

	position: sticky;
	top: 0;
	left: 0;
	z-index: 10;

	h1 {
		background-color: rgb(27, 66, 105);
		grid-column: 1;
		padding: 10px;
		@include flexCenter();
	}
	i {
		background-color: rgb(9, 235, 72);
		grid-column: 2;
		grid-row: 1;
		@include flexCenter();
	}
	form {
		grid-column: 1/3;
		grid-row: 2/5;
		padding: 10px;
		background-color: rgb(255, 255, 255);

		div {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(7, minmax(2em, auto));

			input, textarea, button, select {
				@include templateFormEl();
			}

			label[for=title] {
				grid-column: 1/3;
			}

			label[for=date] {
				grid-column: 1/3;
				grid-row: 2;
			}

			label[for=discription]{
				grid-column: 1/3;
				grid-row: 3/7;
				textarea {
					resize: none;
					height: 90%;
				}
			}
			button {
				grid-column: 1;
				grid-row: 7;
			}

			section {
				grid-column: 2;
				grid-row: 7;
			}
			display: none;
		}
		display: none;

	}
}

main {
	grid-area: main;

	.grid-task {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-auto-rows: minmax(2em, auto);

		grid-template-areas:
		"title title title title date"
		"title title title title date"
		"lvl lvl lvl lvl lvl"
		"discription discription discription discription discription"
		"discription discription discription discription discription"
		"discription discription discription discription discription"
		"btn btn btn btn btn";

		z-index: 5;

		h1 {
			border: 1px solid red;
			grid-area: title;
			@include flexCenter();
		}
		h2 {
			border: 1px solid red;
			grid-area: date;
			@include flexCenter();
		}
		.lvl {
			border: 1px solid red;
			grid-area: lvl;
			padding: 10px;
		}
		.discription {
			border: 1px solid red;
			grid-area: discription;
			padding: 10px;
		}
		.btn {
			border: 1px solid red;
			grid-area: btn;
			padding: 10px;
			.btnDelete, .btnEdit, .btnComplete {
				@include templateFormEl();
				margin: 0;
				width: 33.333%;

			}
		}
	}

}

footer {
	grid-area: footer;
	display: grid;
	grid-template-columns: 80% 20%;
	grid-auto-rows: auto;

	button {
		grid-column: 1;
	}
	i {
		grid-column: 2;
		@include flexCenter();
	}

}
