@import "variable";
@import "template";
@import "colorsFonts";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url("../images/swirl_pattern/swirl_pattern.png");
}

.grid-container {
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	background-color: $menuColor;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: minmax(2em, auto);
	grid-template-areas:
	"header header header header header"
	"main main main main main"
	"main main main main main"
	"main main main main main"
	"footer footer footer footer footer";
	position: relative;
	z-index: 0;
}

header {
	grid-area: header;
	display: grid;
	grid-template-columns: 10% 80% 10%;
	grid-auto-rows: minmax(2em, auto);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 10;

	i.icon-menu {
		background-color: map-get($fontColors, DarkGrey);
		color: map-get($fontColors, OffWhite);
		font-size: 1.5em;
		grid-column: 1;
		grid-row: 1;
		cursor: pointer;
		@include flexCenter();

		&:hover {
			font-size: 2em;
			background-color: map-get($fontColors, SmokeyNavy);
		}
	}

	.menu {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		z-index: 15;
		background-color: map-get($mintColors,mint5);
		color: map-get($fontColors, SmokeyNavy);

		ul {
			list-style: none;

			li {
				font-family: 'Amatic SC', cursive;
				font-size: 1.1rem;
				font-weight: 700;
				letter-spacing: 5px;
				cursor: pointer;
				padding: 5px;
				text-align: center;

				&:hover {
					font-size: 1.5em;
					padding: 0;
				}
			}
		}
	}

	.h1 {
		background: map-get($mintColors, mint3);
		font-family: 'Amatic SC', cursive;
		color: map-get($fontColors, SmokeyNavy);
		text-shadow: 1px 1px 1px black;
		font-weight: 400;
		font-size: 1.5em;
		color: rgb(253,253,253);
		letter-spacing: 15px;
		grid-column: 2;
		padding: 10px;
		@include flexCenter();

		span {
			color: map-get($fontColors, SmokeyNavy);
			font-weight: 400;
			text-shadow: none;
		}

		.cat {
			width: 50px;
		}
	}

	i.icon-add {
		background-color: map-get($fontColors,DarkGrey);
		color: map-get($fontColors, OffWhite);
		font-size: 1.5em;
		grid-column: 3;
		grid-row: 1;
		cursor: pointer;
		@include flexCenter();

		&:hover {
			font-size: 2em;
			background-color: map-get($fontColors, SmokeyNavy);
		}
	}

	form {
		grid-column: 1/4;
		grid-row: 2/5;
		padding: 10px;
		background-color: map-get($mintColors, "mint5");

		div {
			display: grid;
			grid-template-columns: 10% 80% 10%;
			grid-template-rows: repeat(8, minmax(20px, auto));

			button,
			input,
			textarea {
				@include templateFormEl();
				font-size: 1.5em;
				color: rgb(116, 116, 116);
			}

			button {
				border: none;
			}

			input,
			textarea {
				&:focus {
					border: none;
					outline: 0;
					box-shadow: 0 0 10px map-get($vividColors, Violet);
				}
			}

			label[for=title] {
				grid-column: 2;
			}
			@for $i from 1 to 4 {
				i:nth-of-type(#{$i}) {
					grid-column: 3;
					grid-row: #{$i};
					font-size: 2em;
					color: map-get($mintColors, mint2);
					margin: 0.5em 0 0;
				}
			}

			label[for=date] {
				grid-column: 2;
				grid-row: 2;
			}

			label[for=discription] {
				grid-column: 2;
				grid-row: 3/7;

				textarea {
					resize: none;
					height: 90%;
				}
			}

			p.counter {
				grid-column: 2;
				grid-row: 7;
				margin: 1em 0 0;
				font-size: 2em;
				font-weight: 700;
				color: map-get($vividColors, Violet);
				font-family: 'Amatic SC', cursive;
				@include flexRight();
			}

			button {
				grid-column: 2;
				grid-row: 8;
				background-color: map-get($vividColors, Pink);
				color: map-get($fontColors,White);
				cursor: pointer;

				&:enabled:hover {
					background-color: map-get($vividColors, Violet);
					color: map-get($fontColors,White);
					box-shadow: 3px 3px 10px rgb(100,100,100);
				}
			}

			#boxLvl {
				//gwiazdki dla lvl
				grid-column: 2;
				grid-row: 7;
				margin: 1em 0 0;
				display: flex;
				flex-direction: row-reverse;
				align-content: center;
				justify-content: flex-end;
				//gwiazdki dla lvl
				input {
					position: absolute;
					left: -999999px;
					cursor: pointer;
				}

				label {
					color: $color-lvl-unchecked;
					font-size: 1.4em;
					transition: 0.5s;

					&:hover,
					&:hover ~ label {
						font-size: 1.6em;
						color: $color-lvl-checked;
						text-shadow: 0 0 30px $color-lvl-checked;
					}
				}

				input:checked ~ label {
					color: $color-lvl-checked;
					cursor: pointer;
				}

				input:active ~ label {
					position: relative;
					top: 3px;
				}
			}
		}
	}
}

main {
	grid-area: main;

	.grid-task {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-auto-rows: minmax(2em, auto);
		grid-template-areas:
		"dateFrom dateFrom dateTo dateTo dateTo"
		"title title title title title"
		"title title title title title"
		"lvl lvl lvl lvl lvl"
		"discription discription discription discription discription"
		"discription discription discription discription discription"
		"discription discription discription discription discription"
		"btn btn btn btn btn";
		z-index: 5;

		h1 {
			font-size: 1.7em;
			grid-area: title;
			font-family: 'Dawning of a New Day', cursive;
			padding: 5px;
			border-top: 1px solid black;
			border-bottom: 1px solid black;
			@include flexLeft();
		}

		h2 {
			grid-area: dateTo;
			@include flexRight();
			@include date;
			color: lightcoral;
		}

		h3 {
			grid-area: dateFrom;
			@include flexLeft();
			@include date;
		}

		.lvl {
			grid-area: lvl;
			font-size: 1em;
			color: $color-lvl-checked;
			padding: 5px;
		}

		.discription {
			font-family: 'Dawning of a New Day', cursive;
			font-size: 1.5em;
			grid-area: discription;
			padding: 5px;
		}

		.btn {
			grid-area: btn;
			padding: 10px;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-auto-rows: minmax(2em, auto);
			grid-template-areas: "btnDelete btnEdit btnComplete";

			.btnDelete {
				@include templateFormEl();
				grid-area: btnDelete;
				margin: 0;
				width: 90%;
			}

			.btnEdit {
				@include templateFormEl();
				grid-area: btnEdit;
				margin: 0;
				width: 90%;
			}

			.btnComplete {
				@include templateFormEl();
				grid-area: btnComplete;
				margin: 0;
				width: 90%;
			}
		}
	}
}

footer {
	grid-area: footer;
	display: grid;
	padding: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(2em, auto);
	grid-template-areas: "token deleteAllbutton icon";

	.token {
		grid-area: token;
		width: 90%;
	}
	background-color: rgba(91, 102, 106, 0.85);
	position: sticky;
	bottom: 0;
	left: 0;
	z-index: 5;

	button {
		grid-area: deleteAllbutton;
		background-color: lightcoral;
		color: white;
		width: 90%;
		position: relative;
		justify-self: center;
		border-radius: 5px;

		&:hover {
			background-color: red;
			box-shadow: 5px 5px 10px rgb(100,100,100);
		}
	}

	div {
		background-color: map-get($fontColors, OffWhite);
		position: absolute;
		right: 0;
		bottom: 30px;
		width: 100%;

		ul {
			list-style: none;
			width: 100%;

			li {
				padding: 5px;
				text-align: center;
			}
		}
	}
}

.btnComplete,
.btnDelete,
.btnEdit {
	background-color: map-get($mintColors,mint4);
	color: map-get($fontColors,DarkGrey);
	cursor: pointer;

	&:hover {
		background-color: map-get($mintColors,mint5);
		color: map-get($fontColors,SmokeyNavy);
		box-shadow: 5px 5px 10px rgb(100,100,100);
	}
}

.btnDeleteAll {
	cursor: pointer;
}

.flyingCat {
	//wylosowac random position dla kota
	width: 200px;
	height: 200px;
	margin: 10px;
	float: right;
	background-image: url("../images/flyingcat.png");
	background-repeat: no-repeat;
	background-size: contain;
	animation-name: rotatingCat;
	animation-duration: 3s;
	animation-iteration-count: 1;
	//animation-timing-function:ease-in;
	@keyframes rotatingCat {
		0% {
			transform: rotate(1deg) translate(1px,1px);
		}

		100% {
			transform: rotate(360deg) translate(500px,500px);
		}
	}
}
@media (min-width: 768px) {
	/* For desktop: */
	header {
		grid-area: header;
		display: grid;
		grid-template-columns: 10% 80% 10%;
		grid-auto-rows: minmax(2em, auto);
		position: sticky;
		top: 0;
		left: 0;
		z-index: 10;

		.h1 {
			background: map-get($mintColors, mint3);
			font-family: 'Amatic SC', cursive;
			color: map-get($fontColors, SmokeyNavy);
			text-shadow: 1px 1px 1px black;
			font-weight: 400;
			font-size: 2em;
			color: rgb(253,253,253);
			letter-spacing: 15px;
			grid-column: 2;
			padding: 10px;
			@include flexCenter();

			span {
				color: map-get($fontColors, SmokeyNavy);
				font-weight: 400;
				text-shadow: none;
			}

			.cat {
				width: 70px;
			}
		}
	}

	main {
		grid-area: main;

		.grid-task {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			grid-auto-rows: minmax(2em, auto);
			grid-template-areas:
			"dateFrom title title title dateTo"
			"dateFrom title title title dateTo"
			"lvl lvl lvl lvl lvl"
			"discription discription discription discription discription"
			"discription discription discription discription discription"
			"discription discription discription discription discription"
			"btn btn btn btn btn";
			z-index: 5;

			h1 {
				font-size: 2em;
				grid-area: title;
				border-top: none;
				padding: 5px;
				@include flexCenter();
			}

			h2 {
				grid-area: dateTo;
				@include flexCenter();
				@include date;
				padding: 10px;
				font-size: 2em;
				color: $color-lvl-checked;
			}

			h3 {
				grid-area: dateFrom;
				@include flexCenter();
				@include date;
				padding: 10px;
				font-size: 2em;
				font-weight: 400;
			}

			.lvl {
				grid-area: lvl;
				font-size: 1em;
				color: $color-lvl-checked;
				padding-left: 20px;
			}

			.discription {
				font-family: 'Dawning of a New Day', cursive;
				font-size: 1.5em;
				grid-area: discription;
				padding: 10px;
				@include flexCenter();
			}

			.btn {
				grid-area: btn;
				padding: 10px;
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-auto-rows: minmax(2em, auto);
				grid-template-areas: "btnDelete btnEdit btnComplete";

				.btnDelete {
					@include templateFormEl();
					grid-area: btnDelete;
					margin: 0;
					width: 90%;
				}

				.btnEdit {
					@include templateFormEl();
					grid-area: btnEdit;
					margin: 0;
					width: 90%;
				}

				.btnComplete {
					@include templateFormEl();
					grid-area: btnComplete;
					margin: 0;
					width: 90%;
				}
			}
		}
	}
}
