/* Coolors Exported Palette - coolors.co/42b5a6-64c2b6-86cfc6-a9ddd6-cbeae6 */

/* HSL */
$color1: hsla(172%, 47%, 48%, 1);
$color2: hsla(172%, 44%, 58%, 1);
$color3: hsla(173%, 43%, 67%, 1);
$color4: hsla(172%, 43%, 76%, 1);
$color5: hsla(172%, 42%, 86%, 1);

/* RGB */
$color1: rgba(66, 181, 166, 1);
$color2: rgba(100, 194, 182, 1);
$color3: rgba(134, 207, 198, 1);
$color4: rgba(169, 221, 214, 1);
$color5: rgba(203, 234, 230, 1);